* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1663px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    height: 60px;
}


.header-wrapper {
    display: flex;

}

.hope-ui {
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 270px;
    width: 100%;
    padding: 0 32px;
}

.hope-ui p {
    color: #232D42;
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.arrow {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background: #3A57E8;
    position: absolute;
    top: 15px;
    left: 220px;
}

.search {
    border-radius: 4px;
    border: 1px solid #E9ECEF;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 304px;
    padding: 4px 16px;
}

.search input {
    width: 100%;
    border: 0;
    outline: none;
}

.header-user-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-user-part {
    display: flex;
    align-items: center;
    gap: 16px
}

.header-user-name {
    color: #232D42;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.marketing-admin {
    color: #8A92A6;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.body-wrapper {
    display: flex;
}

.nav-bar-wrapper {
    display: flex;
}

#nav-bar {
    width: 100%;
    /*background: yellow;*/
}

ul {
    list-style: none;
}

.main-part-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #E9ECEF;
}

.hello-devs {
    /*display: flex;*/
    width: 100%;
    background: blue;
    height: 276px;
    /*justify-content: space-between;*/
    padding-right: 127px;
    padding-left: 39px;
    border-radius: 0 0 16px 16px;
    background: radial-gradient(36.28% 150.93% at 50% 50%, #3B8AFF 0%, #0048B2 100%);
}

.hello-devs-content {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    align-items: flex-start;
}

.hello-devs-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.announcments {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: rgba(58, 87, 232, 0.35);
    padding: 8px 24px;
    height: 24px;
}

/*.hello-devs-content {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.hello-devs-p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.we-are-on-misson {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
}

.announcments p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}



#nav-bar {
    background-color: white;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /*padding-left: 23px;*/

    padding: 5px 15px 5px 23px;
}

ul li {
    padding-left: 10px;
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;


}

/*ul li img:last-child {*/
/*    color: #8A92A6*/
/*}*/

ul li a {
    text-decoration: none;

    color: #8A92A6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.posts-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
    margin-top: -45px;

    flex-direction: column;
}

.posts-and-button-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.posts-text p {
    color: #232D42;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    padding: 24px;
}

.create-buttons-wrapper {
    padding: 24px;
}

.create-button {
    padding: 8px 24px;
    border-radius: 4px;
    background: #3A57E8;
    box-shadow: 0px 2px 4px 0px rgba(58, 87, 232, 0.30);

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


.main-posts {
    display: flex;
    height: 500px;

}

.posts {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    padding: 24px;
    background: #F5F6FA;
}

.about-users-text {
    color: #8A92A6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.pad {
    padding: 12px 24px;

}

.user-datas {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    background: #FFF;
}

.posts-main-part {
    max-height: 500px;
    overflow: auto;
    padding: 24px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
}

.edit-posts-wrapper {
    display: flex;

}



/*.wrapper {*/
/*    width: 488px;*/
/*    height: 268px;*/
/*    margin: 0 auto;*/

/*    background-color: #EEE;*/
/*}*/


.posts-create-main-part {
    display: flex;
    gap: 24px;
    padding: 24px;
}

.title-and-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 710px;
    width: 40%;
}

.elems {
    border-radius: 4px;
    border: 1px solid #EEE;
    padding: 8px 16px;
    width: 100%;
}

.create-posts-body-wrapper {
    display: flex;
    justify-content: center;
    width: 40%;
}


.create-body {
    padding: 8px 16px 50px 16px;

}

.create-post {

    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;


    border-radius: 4px;
    background: #1AA053;
    box-shadow: 0px 2px 4px 0px rgba(26, 160, 83, 0.30);

    color: #FFF;

    /* H6 16px Regular Inter */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    /* 28px */
}


.cancel {

    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;


    border-radius: 4px;
    background: #DEE2E6;
    box-shadow: 0px 2px 4px 0px rgba(222, 226, 230, 0.30);

    /* H6 16px Regular Inter */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
}


.create-delete-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 220px 20px;
    gap: 20px;
}



/* popup */

/* CSS for the modal popup */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup {
    background-color: #f4f4f4;
    position: absolute;
    gap: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 20px;
    border: 1px solid #888;
    z-index: 2;
    text-align: center;
}

.popup-content {
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.buttons-wrapper {
    padding-top: 8px;
}

.popup-content-inner {
    padding: 20px;
}

.Delete {
    padding: 8px 24px;

    border-radius: 4px;
    background:  #3A57E8;
    border: 0;


    color: #FFF;

    /* H6 16px Regular Inter */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}



.close-popup {
    border: 0;
    padding: 8px 24px;
    gap: 10px;

    border-radius: 4px;
    background: #000;

    color: #FFF;

    /* H6 16px Regular Inter */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


